// vars
$colorportfolio: white;
$bgportfolio: blue;

// section
.portfolio {
  @extend .simple-section;

  // override padding-bottom of @extend
  padding-bottom: 1rem !important;
  background: $bgportfolio;
  color: $colorportfolio;
}
