// vars
$colorservices: white;
// $bgservices: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));

// section
.services {
  position: relative;
  @extend .simple-section;

  & .wave {
    width: auto;
    height: 80px;
    top: - 80px;
    position: absolute;
    z-index: 5;
    right: 0;
  }

  // background: $bgservices;
  color:$colorservices;
}

// service
.wrap-service {
  & .zmdi {
    font-size: 15rem;
  }
}