.simple-section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  & .container .row > .col {
    margin-bottom: 3.2rem;
  }
}

//mq
@include media-breakpoint-up(md) {
  .simple-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
}